<h2>Edit Profile</h2>

<div data-turbo="false">
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "example" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "example@mail.com", disabled: true %>
    </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, placeholder: "John Doe" %>
    </div>

    <div class="field">
      <%= f.label :avatar, style: "display: block" %>
      <% if @user.avatar.attached? %>
        <div>
          <%= image_tag(@user.avatar, size: "60x60", style: "border-radius: 50px") %>
        </div>
      <% else %>
        <div>
          <%= image_tag("default_image.png", size: "60x60", style: "border-radius: 50px") %>
        </div>
      <% end %>
      <%= f.file_field :avatar %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "**************" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "**************" %>
    </div>

    <div class="field">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "**************" %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
  
  <%= link_to "Back", :back %>
</div>
