<div class="section-login">
  <h2 class="login-title">Profile</h2>
  <div class="section-profile">
    <% if @user.avatar.attached? %>
      <div>
        <%= image_tag(@user.avatar, size: "96x96", style: "border-radius: 50px") %>
      </div>
    <% else %>
      <div>
        <%= image_tag("default_image.png", size: "96x96", style: "border-radius: 50px") %>
      </div>
    <% end %>
    <h3 class="login-title"><%= @user.name %></h3>
    <p class="profile-info">@<%= @user.username %></p>
    <p class="profile-info">Joined on <%=  @user.created_at.strftime('%B %d, %Y')%></p>
    <%= link_to "Edit Profile", edit_user_registration_path, class: "normal-button edit--button" %>
  </div>
</div>
